@charset "UTF-8";
html, body {
  font-family: "Ubuntu";
  font-style: normal;
  font-size: 16px;
  scroll-behavior: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #17191D;
}

::-webkit-scrollbar-thumb {
  background: #ff0b53;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(24%, #ff0b53), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(180deg, #ff0b53 24%, rgba(0, 0, 0, 0.1) 100%);
  border-radius: 15px;
}

body.open {
  overflow: hidden;
}

.bg__entire__block {
  width: 100%;
  height: 1080px;
  background: #17191D;
  position: relative;
  margin-bottom: 200px;
}
.bg__entire__block .bg__header {
  background: rgba(23, 25, 29, 0);
  top: 0;
  left: 0;
  z-index: 30;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  width: 100%;
  position: fixed;
}
.bg__entire__block .bg__header.fixed {
  position: fixed;
  background: rgba(23, 25, 29, 0.8);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}
.bg__entire__block .bg__header.open {
  height: 100%;
}
.bg__entire__block .bg__header .header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1780px;
  margin: 0 auto;
  padding: 30px 0;
  margin: 0 20px;
}
.bg__entire__block .bg__header .header__wrapper .logo {
  z-index: 40;
}
.bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav .nav__menu {
  font-weight: 400;
  font-size: 1rem;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
}
.bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav .nav__menu::before {
  content: "";
  display: block;
  width: 0;
  right: 0;
  bottom: -2px;
  height: 1px;
  background: #fff;
  position: absolute;
  -webkit-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
.bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav .nav__menu:hover::before {
  width: 100%;
}
.bg__entire__block .bg__header .header__wrapper .burger {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: -webkit-transform 330ms ease-out;
  transition: -webkit-transform 330ms ease-out;
  transition: transform 330ms ease-out;
  transition: transform 330ms ease-out, -webkit-transform 330ms ease-out;
  display: none;
}
.bg__entire__block .bg__header .header__wrapper .burger .line {
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  height: 3px;
}
.bg__entire__block .bg__header .header__wrapper .burger .line.half {
  width: 50%;
}
.bg__entire__block .bg__header .header__wrapper .burger .line.start {
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: right;
          transform-origin: right;
}
.bg__entire__block .bg__header .header__wrapper .burger .line.end {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57), -webkit-transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.bg__entire__block .bg__header .header__wrapper .burger.open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.bg__entire__block .bg__header .header__wrapper .burger.open .line.start {
  -webkit-transform: rotate(-90deg) translateX(1px);
          transform: rotate(-90deg) translateX(1px);
}
.bg__entire__block .bg__header .header__wrapper .burger.open .line.end {
  -webkit-transform: rotate(-90deg) translateX(-1px);
          transform: rotate(-90deg) translateX(-1px);
}
.bg__entire__block .bg__header .social__media {
  display: none;
}
.bg__entire__block .block__info {
  position: absolute;
  z-index: 10;
  width: 1268px;
  padding: 72px 46px;
  background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(50, 50, 50, 0.15));
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  border-radius: 7px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  margin-bottom: 248px;
  opacity: 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}
.bg__entire__block .block__info._active {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
.bg__entire__block .block__info .text {
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.bg__entire__block .block__info .text h1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 83px;
  text-align: center;
  color: #FFFFFF;
  z-index: 10;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 0.6s 0.2s ease;
  transition: 0.6s 0.2s ease;
}
.bg__entire__block .block__info .text h1._active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.bg__entire__block .block__info .text p {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  max-width: 782px;
  z-index: 10;
  margin: 0 auto;
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: 0.6s 0.4s ease;
  transition: 0.6s 0.4s ease;
}
.bg__entire__block .block__info .text p._active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.bg__entire__block .block__info .btn__start__read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 115px;
}
.bg__entire__block .block__info .btn__start__read .anim__btn {
  opacity: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 0.4s 0.6s ease;
  transition: 0.4s 0.6s ease;
}
.bg__entire__block .block__info .btn__start__read .anim__btn._active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.bg__entire__block .block__info .btn__start__read .anim__btn .btn__start {
  border-radius: 36px;
  border: 1px solid #FFFFFF;
  background: rgba(88, 82, 82, 0);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  cursor: pointer;
  width: 284px;
}
.bg__entire__block .block__info .btn__start__read .anim__btn .btn__start:hover {
  background: #FF0B53;
  border: 1px solid #FF0B53;
}
.bg__entire__block .block__info .btn__start__read .anim__btn .btn__start p {
  padding: 18px 45px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  text-align: center;
  color: #FBFBFB;
}
.bg__entire__block .block__info .btn__start__read .anim__btn {
  opacity: 0;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: 0.4s 0.6s ease;
  transition: 0.4s 0.6s ease;
}
.bg__entire__block .block__info .btn__start__read .anim__btn._active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.bg__entire__block .block__info .btn__start__read .anim__btn .btn__read__more {
  border-radius: 36px;
  border: 1px solid #FFFFFF;
  background: rgba(88, 82, 82, 0);
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  cursor: pointer;
  width: 284px;
}
.bg__entire__block .block__info .btn__start__read .anim__btn .btn__read__more:hover {
  background: #FF0B53;
  border: 1px solid #FF0B53;
}
.bg__entire__block .block__info .btn__start__read .anim__btn .btn__read__more p {
  padding: 18px 45px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 28px;
  text-align: center;
  color: #FBFBFB;
}
.bg__entire__block .first__circle {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}
.bg__entire__block .second__circle {
  position: absolute;
  left: 366px;
  top: 60px;
  z-index: 3;
}
.bg__entire__block .cross__fill {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
}
.bg__entire__block .cross {
  position: absolute;
  left: 167px;
  bottom: 115px;
  z-index: 3;
}
.bg__entire__block .white__line-1 {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: 0;
}
.bg__entire__block .white__line-2 {
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 130px;
}

@media (max-width: 1400px) {
  .bg__entire__block .block__info {
    width: 940px;
  }
  .bg__entire__block .first__circle svg {
    width: 735px;
    height: 201px;
  }
  .bg__entire__block .second__circle svg {
    width: 217px;
    height: 217px;
  }
  .bg__entire__block .cross__fill svg {
    width: 218px;
    height: 218px;
  }
  .bg__entire__block .white__line-1 svg {
    width: 754px;
    height: 572px;
  }
  .bg__entire__block .white__line-2 svg {
    width: 429px;
    height: 612px;
  }
}
@media (max-width: 1200px) {
  .bg__entire__block .first__circle svg {
    width: 635px;
    height: 201px;
  }
  .bg__entire__block .second__circle {
    left: 271px;
    top: 133px;
  }
  .bg__entire__block .second__circle svg {
    width: 190px;
    height: 190px;
  }
  .bg__entire__block .cross {
    left: 140px;
    bottom: 375px;
  }
  .bg__entire__block .cross svg {
    width: 140px;
    height: 140px;
  }
  .bg__entire__block .cross__fill svg {
    width: 200px;
    height: 200px;
  }
  .bg__entire__block .white__line-1 svg {
    width: 654px;
    height: 472px;
  }
  .bg__entire__block .white__line-2 svg {
    width: 329px;
    height: 512px;
  }
}
@media (max-width: 990px) {
  .bg__entire__block .block__info {
    width: 740px;
  }
  .bg__entire__block .block__info .text h1 {
    font-size: 4rem;
    line-height: 63px;
  }
  .bg__entire__block .first__circle svg {
    width: 635px;
    height: 160px;
  }
  .bg__entire__block .second__circle {
    left: 271px;
    top: 133px;
  }
  .bg__entire__block .second__circle svg {
    width: 190px;
    height: 190px;
  }
  .bg__entire__block .cross {
    left: 140px;
    bottom: 375px;
  }
  .bg__entire__block .cross svg {
    width: 140px;
    height: 140px;
  }
  .bg__entire__block .cross__fill svg {
    width: 200px;
    height: 200px;
  }
  .bg__entire__block .white__line-1 {
    right: 34px;
    bottom: 330px;
  }
  .bg__entire__block .white__line-1 svg {
    width: 554px;
    height: 372px;
  }
  .bg__entire__block .white__line-2 svg {
    width: 329px;
    height: 512px;
  }
}
@media (max-width: 800px) {
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-transform: translateY(-980px);
            transform: translateY(-980px);
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(23, 25, 29, 0);
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    background: rgba(23, 25, 29, 0.8);
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav {
    padding-top: 142px;
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav li .nav__menu {
    opacity: 0;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav li .nav__menu::before {
    content: "";
    display: block;
    width: 0;
    left: 0;
    bottom: -2px;
    height: 2px;
    background: #fff;
    position: absolute;
    -webkit-transition: width 0.2s ease;
    transition: width 0.2s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav li .nav__menu:hover::before {
    width: 100%;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav li .nav__menu.open {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 28px;
    opacity: 1;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav li:nth-child(1) .nav__menu {
    -webkit-transition: 0.6s 0.2s ease;
    transition: 0.6s 0.2s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav li:nth-child(2) .nav__menu {
    -webkit-transition: 0.6s 0.4s ease;
    transition: 0.6s 0.4s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav li:nth-child(3) .nav__menu {
    -webkit-transition: 0.6s 0.6s ease;
    transition: 0.6s 0.6s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .header__menu__nav .ul__menu__nav li:nth-child(4) .nav__menu {
    -webkit-transition: 0.6s 0.8s ease;
    transition: 0.6s 0.8s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .bg__entire__block .bg__header .header__wrapper .social__media {
    position: absolute;
    bottom: 40px;
    left: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 30;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 28px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .social__media a {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
  .bg__entire__block .bg__header .header__wrapper .social__media a:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .bg__entire__block .bg__header .header__wrapper .social__media p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 18px;
    color: #B1B1B1;
  }
  .bg__entire__block .bg__header .header__wrapper .social__media .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .bg__entire__block .block__info {
    width: 650px;
    padding: 60px 36px;
  }
  .bg__entire__block .block__info .text {
    gap: 35px;
  }
  .bg__entire__block .block__info .text h1 {
    font-size: 3rem;
  }
  .bg__entire__block .block__info .btn__start__read {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
    margin-top: 50px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__start {
    width: 310px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__read__more {
    width: 310px;
  }
  .bg__entire__block .first__circle svg {
    width: 635px;
    height: 160px;
  }
  .bg__entire__block .second__circle {
    left: 204px;
    top: 156px;
  }
  .bg__entire__block .second__circle svg {
    width: 160px;
    height: 160px;
  }
  .bg__entire__block .cross {
    left: 140px;
    bottom: 375px;
  }
  .bg__entire__block .cross svg {
    width: 140px;
    height: 140px;
  }
  .bg__entire__block .cross__fill svg {
    width: 200px;
    height: 200px;
  }
  .bg__entire__block .white__line-1 {
    right: 47px;
    bottom: 279px;
  }
  .bg__entire__block .white__line-1 svg {
    width: 454px;
    height: 272px;
  }
  .bg__entire__block .white__line-2 {
    top: 132px;
  }
  .bg__entire__block .white__line-2 svg {
    width: 329px;
    height: 512px;
  }
}
@media (max-width: 690px) {
  .bg__entire__block .block__info {
    width: 500px;
    padding: 50px 30px;
  }
  .bg__entire__block .block__info .text {
    gap: 30px;
  }
  .bg__entire__block .block__info .text h1 {
    font-size: 3rem;
  }
  .bg__entire__block .block__info .btn__start__read {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin-top: 40px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__start {
    width: 310px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__read__more {
    width: 310px;
  }
  .bg__entire__block .first__circle svg {
    width: 535px;
    height: 180px;
  }
  .bg__entire__block .second__circle {
    left: 134px;
    top: 180px;
  }
  .bg__entire__block .second__circle svg {
    width: 150px;
    height: 150px;
  }
  .bg__entire__block .cross {
    left: 140px;
    bottom: 375px;
  }
  .bg__entire__block .cross svg {
    width: 140px;
    height: 140px;
  }
  .bg__entire__block .cross__fill svg {
    width: 200px;
    height: 200px;
  }
  .bg__entire__block .white__line-1 {
    right: 47px;
    bottom: 279px;
  }
  .bg__entire__block .white__line-1 svg {
    width: 454px;
    height: 272px;
  }
  .bg__entire__block .white__line-2 {
    top: 151px;
    left: -72px;
  }
  .bg__entire__block .white__line-2 svg {
    width: 329px;
    height: 512px;
  }
}
@media (max-width: 550px) {
  .bg__entire__block .block__info {
    width: 400px;
    padding: 50px 30px;
  }
  .bg__entire__block .block__info .text {
    gap: 30px;
  }
  .bg__entire__block .block__info .text h1 {
    font-size: 2.5rem;
    line-height: 50px;
  }
  .bg__entire__block .block__info .btn__start__read {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    margin-top: 40px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__start {
    width: 310px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__read__more {
    width: 310px;
  }
  .bg__entire__block .first__circle svg {
    width: 400px;
    height: 180px;
  }
  .bg__entire__block .second__circle {
    left: 134px;
    top: 180px;
  }
  .bg__entire__block .second__circle svg {
    width: 150px;
    height: 150px;
  }
  .bg__entire__block .cross {
    left: 140px;
    bottom: 375px;
  }
  .bg__entire__block .cross svg {
    width: 140px;
    height: 140px;
  }
  .bg__entire__block .cross__fill svg {
    width: 200px;
    height: 200px;
  }
  .bg__entire__block .white__line-1 {
    right: 47px;
    bottom: 279px;
  }
  .bg__entire__block .white__line-1 svg {
    width: 262px;
    height: 222px;
  }
  .bg__entire__block .white__line-2 {
    top: 151px;
    left: -72px;
  }
  .bg__entire__block .white__line-2 svg {
    width: 329px;
    height: 512px;
  }
}
@media (max-width: 440px) {
  .bg__entire__block {
    height: 930px;
  }
  .bg__entire__block .bg__header .header__wrapper .logo svg {
    width: 102px;
    height: 30px;
  }
  .bg__entire__block .block__info {
    width: 335px;
    padding: 56px 23px;
  }
  .bg__entire__block .block__info .text {
    gap: 30px;
  }
  .bg__entire__block .block__info .text h1 {
    font-size: 2rem;
    line-height: 39px;
  }
  .bg__entire__block .block__info .btn__start__read {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    gap: 30px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__start {
    width: 290px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__start p {
    padding: 18px 50px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__read__more {
    width: 290px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__read__more p {
    padding: 18px 50px;
  }
  .bg__entire__block .first__circle svg {
    width: 315px;
    height: 140px;
  }
  .bg__entire__block .second__circle {
    left: 73px;
    top: 142px;
  }
  .bg__entire__block .second__circle svg {
    width: 80px;
    height: 80px;
  }
  .bg__entire__block .cross {
    left: 55px;
    bottom: 420px;
  }
  .bg__entire__block .cross svg {
    width: 45px;
    height: 45px;
  }
  .bg__entire__block .cross__fill {
    right: 33px;
    top: 37%;
  }
  .bg__entire__block .cross__fill svg {
    width: 82px;
    height: 82px;
  }
  .bg__entire__block .white__line-1 {
    bottom: 187px;
    right: 0;
  }
  .bg__entire__block .white__line-1 svg {
    width: 262px;
    height: 222px;
  }
  .bg__entire__block .white__line-2 {
    left: -26px;
    top: 232px;
  }
  .bg__entire__block .white__line-2 svg {
    width: 163px;
    height: 220px;
  }
}
@media (max-width: 361px) {
  .bg__entire__block {
    height: 960px;
  }
  .bg__entire__block .bg__header .header__wrapper .logo svg {
    width: 102px;
    height: 30px;
  }
  .bg__entire__block .block__info {
    width: 300px;
    padding: 56px 23px;
  }
  .bg__entire__block .block__info .text {
    gap: 30px;
  }
  .bg__entire__block .block__info .text h1 {
    font-size: 2rem;
    line-height: 39px;
  }
  .bg__entire__block .block__info .btn__start__read {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
    gap: 30px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__start {
    width: 270px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__start p {
    padding: 18px 50px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__read__more {
    width: 270px;
  }
  .bg__entire__block .block__info .btn__start__read .btn__read__more p {
    padding: 18px 50px;
  }
  .bg__entire__block .first__circle svg {
    width: 315px;
    height: 140px;
  }
  .bg__entire__block .second__circle {
    left: 73px;
    top: 145px;
  }
  .bg__entire__block .second__circle svg {
    width: 80px;
    height: 80px;
  }
  .bg__entire__block .cross {
    left: 55px;
    bottom: 420px;
  }
  .bg__entire__block .cross svg {
    width: 45px;
    height: 45px;
  }
  .bg__entire__block .cross__fill {
    right: 33px;
    top: 37%;
  }
  .bg__entire__block .cross__fill svg {
    width: 82px;
    height: 82px;
  }
  .bg__entire__block .white__line-1 {
    bottom: 187px;
    right: 7px;
  }
  .bg__entire__block .white__line-1 svg {
    width: 262px;
    height: 222px;
  }
  .bg__entire__block .white__line-2 {
    left: -13px;
    top: 200px;
  }
  .bg__entire__block .white__line-2 svg {
    width: 163px;
    height: 220px;
  }
}
/*СТИЛЬ ОБНУЛЕНИЕ*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Ubuntu";
  font-style: normal;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}