:root {
  scrollbar-gutter: stable;
}

*,*::before,*::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    font-family: 'Ubuntu ', sans-serif;;
    font-style: normal;
    
    font-size: 16px;

    scroll-behavior: inherit; 
}

a {
    text-decoration: none;
    color: #000;
}
